@use"../base" as *;
@use"../utilities" as *;

//////// Layout ////////

header {
    height: 100vh;
    width: 100%;
}

.banner {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url(../images/CyberCity.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header-btn {
    position: fixed;
    top: .4rem;
    right: .4rem;
    height: 40px;
    width: 55px;
    cursor: pointer;
    border: 2px solid;
    border-radius: 3px;
    @include color(neon-magneta, border-color);
    @include color(neon-magneta-bs-inset, box-shadow);
    background-color: transparent;

    &:active {
        box-shadow: none;
    }
}

.banner-content {
    position: relative;
    top: 220px;
    text-align: center;
    @include color(electric-blue);

    h1 {
        font-size: 2.4rem;
        text-align: center;
        // @include color(neon-magneta-bs-inset, box-shadow)

        &:hover {
            cursor: default;
            @include color(cyber-purple);
        }
    }

    p {
        font-size: 1.8rem;
        // @include color(neon-magneta-bs-inset, box-shadow)

        &:hover {
            cursor: default;
            @include color(cyber-purple);
        }
    }
}

.header-svg {
    width: 60%;
    height: 80%;
    @include color(tangerine-glow, fill); 
}

//////// FlexBox layout ////////

header {
    display: flex;
    flex: 1;
}

.header-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    @include mq(m) {
        display: none;
    }
}
