@use"../base" as *;
@use"../utilities" as *;

//////// Layout ////////

.sidebar {
    position: sticky;
    top: 0;
    height: 100vh;
    @include color(cyber-purple, background-color);
}

.sidebar-content {
    // display: none;
    width: 220px;
    height: 100%;
    @include color(deep-indigo, background-color);

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    a {
        @include color(electric-blue);
        text-decoration: none;        
    }

    li, .contact-me {
        margin: 10px auto;
        width: fit-content;
        border-bottom: 2px solid transparent;

        &:hover {
            border-bottom: 2px solid;
            @include color(hot-pink);
            @include color(sky-lavender, border-color);
        }
    }
}

.sidebar-content {
    @include color(electric-blue);
}

.my-initials-box {
    width: 100%;
    text-align: center;
    padding: 0;
}

.sidebar-list-box {
    width: 100%;
    text-align: center;
    padding: 0;
}

.contact-me-box {
    width: 100%;
    text-align: center;
    padding: 0;
}

//////// Box Styles ////////

.sidebar {
    border: 6px solid;
    border-style: double;
    @include color(neon-magneta, border-color)
}

.my-initials-box {
    border-bottom: 6px solid;
    border-bottom-style: double;
    @include color(neon-magneta, border-color)
}

.sidebar-list-box {
    border-bottom: 6px solid;
    border-bottom-style: double;
    @include color(neon-magneta, border-color)
}

.contact-me-box {
    border-bottom: 6px solid;
    border-bottom-style: double;
    @include color(neon-magneta, border-color)
}

//////// FlexBox Layout ////////

.sidebar-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
